<div class="container">
       <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-6">
                     <h1>Solutions</h1>
                     <ul>
                         <li>
                             Payroll and HR Mangement System for SME
                         </li>
                      <li>
                             Workforce Tracking Solution for mobile workers
                      </li>
                      <li>
                             Revenue Assurance soltions for Telecom and Health Sector
                      </li>
                      <li>
                             Content Management Solution for Telecom
                      </li>
                      <li>
                             Campaign Managment Solution    
                      </li>
                          
                     </ul>
              </div>
       </div>
</div>

<app-footer></app-footer>
