
.about-us {
    
    font-size: 0.7rem;
    color: black;
    font-weight: 500;
    text-align: justify;
    
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

