<div class="container">
    <div class="row">
        <div class=" col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
                <button class="btn-header" [routerLink]="['/about-us']">About US</button>
                <button class="btn-header"  [routerLink]="['/solutions']">Solutions</button>
                <button class="btn-header"  [routerLink]="['/services']">Services</button>
                <button class="btn-header"  [routerLink]="['/contact-us']">Contact US</button>
            
            
            
        </div>
    </div>
</div>
