<app-header></app-header>
<h3>Welcome to Rocky Road Solutions</h3>
<table>
    <tr>
        <td class='about-us-table-column'></td>
        <td class='about-us-table-column-text'>
            Rocky Road Solutions is an Information Technology Consulting organization with deep expertise in delivering solutions to its clients in the areas like Application Development, Product Support, and Business Intelligence. Rocky Road Solutions is an Information
            Technology Consulting organization, founded by a team of professionals with deep expertise in IT Industry. A consultant's job is to consult, nothing more and nothing less. It's that simple! There is no magic formula or secret that makes one
            consultant more successful than another one. We bring together peoples ideas, knowledge and expertise and leverage them with our professional services, to help them provide the best breed of solutions and services as consultants, to the best
            companies. All growing organizations face the overwhelming tasks of identifying, transforming, organizing and leveraging information assets within their enterprise or across the industry they are in. We, at Rocky Road Solutions, realize the
            challenges and efforts required for this. Besides understanding the technologies required to make this happen, we understand the business drivers and values derived from these solutions.
        </td>
        <td class='about-us-table-column'></td>
    </tr>
</table>

<app-footer></app-footer>