<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px 0px;">
            <table>
                <tr>
                    <th>Need Support</th>
                    <th>Need Information</th>
                    <th>Contact</th>
                </tr>
                <tr>
                    <td class="tbl-col">
                        <a routerLink="/contact-us">Request Service</a><br><br><br>
                        <a routerLink="/contact-us">Developing a technology plan </a><br><br><br>
                        <a routerLink="/contact-us">Finding solutions</a>
                    </td>
                    <td class="tbl-col">
                        <a routerLink="/contact-us">Outsourcing my IT</a><br><br><br>
                        <a routerLink="/contact-us">Request IT Support</a><br><br><br>
                        <a routerLink="/contact-us">Request Training</a>
                    </td>
                    <td>
                        <p>Rocky Road Solutions LLC, California <br> 39600 Fremont Blvd,<br>Fremont, CA,94538<br> contact@rockyroadsolutions.com</p>
                        <p>Rocky Road Solutions LLC, New York <br> 207 Bur Road,<br> East NorthPort, NY,11731<br> contact@rockyroadsolutions.com</p>
                    </td>
                </tr>
                <tr>
                    <td class="footer-tab" colspan="3">  
                        @2019 Rocky Road Solutions LLC.
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-linkedin-in"></i>
                                     </td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>
    
    
