<html>

<body>
    <table style="width:100%">
        <tr>
            <th>Need Support</th>
            <th>Need Information</th>
            <th>Contact</th>
        </tr>
        <tr>
            <td rowspan="3">
                <a routerLink="/contact-us">Request Service</a><br><br><br>
                <a routerLink="/contact-us">Developing a technology plan </a><br><br><br>
                <a routerLink="/contact-us">Finding solutions</a>
            </td>
            <td rowspan="3">
                <a routerLink="/contact-us">Outsourcing my IT</a><br><br><br>
                <a routerLink="/contact-us">Request IT Support</a><br><br><br>
                <a routerLink="/contact-us">Request Training</a>
            </td>
            <td rowspan="3" class="table-height">
                <p>Rocky Road Solutions LLC, California <br> 39600 Fremont Blvd,<br>Fremont, CA,94538<br> contactus@rockyroadsolutions.com</p>
                <p>Rocky Road Solutions LLC, New York <br> 207 Bur Road,<br> East NorthPort, NY,11731<br> contactus@rockyroadsolutions.com</p>
            </td>
        </tr>
    </table>
    <h1 class="padding"></h1>
    <p class="rocky-bottom">@2019 Rocky Road Solutions LLC.</p>
</body>

</html>